@import "../../../common/styles/const.less";
:global{
  .notiDrawer{
    margin-top: @nav-header-height;
  }
}
.notiWrap{
  font-size: 30px;
  margin-right: 25px;
  display: flex;
  align-items: center;
  
  .notiIconWrap{
      height:30px;
      width: 30px;

      display: flex;
      align-items: center;
      border-radius: 4px;
  }
  
}

.notiChecking{
    background-color:#595959;
}






